﻿@model Department.Models.Employee


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Are you sure you want to delete this employee?</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("DeleteEmployee", "Department", FormMethod.Post, new { id = "deleteForm" }))
            {
                <div>
                    <div class="col-md-offset-1 col-md-12">
                        <h3>Employee</h3>
                    </div>
                    <div>
                        <dl class="dl-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Department)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Position)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Position)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Chief)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Chief.Name)
                            </dd>
                        </dl>
                    </div>     
                </div>
            }
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="form-actions no-color col-md-1 add-margin_bottom">
                        <input type="submit" value="Delete" class="btn btn-info btn-lg" id="deleteSubmit" />
                    </div>
                    <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                        <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
