﻿@model Department.Models.EmployeeViewModel


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Editing employee data</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("EditEmployee", "Department", FormMethod.Post, new { id = "editForm" }))
            {
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Chief, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select name="ChiefId" class="form-control">
                                @if (Model.ChiefId != null)
                                {
                                    <option selected="selected" value="@Model.ChiefId">@Model.Chief.Name</option>
                                } 
                                <option value=""></option>
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
            }


        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="form-actions no-color col-md-1 add-margin_bottom">
                    <input type="submit" value="Edit" class="btn btn-info btn-lg" id="editSubmit" />
                </div>
                <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                    <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                </div>
            </div>
        </div>
    </div>
</div>

