﻿@model IEnumerable<Department.Models.Employee>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chief)
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <a class="openModal" href="/Department/DeleteEmployee/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a class="openModal" href="/Department/EditEmployee/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Department
            </td>
            <td>
                @item.Position
            </td>
            <td>
                @(item.Chief != null ? item.Chief.Name : "")
            </td>

        </tr>
    }
</table>
