﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}


<div class="col-sm-12 col-md-8">
    <div id="createBillButton" class="col-sm-offset-1 col-sm-11">
        @Html.ActionLink("CreateEmployee", "CreateEmployee", null, new { @class = "openModal btn btn-info btn btn-lg" })
    </div>
    <br />
    <div class="row">
        <div id="employeesTable">Loading...</div>
    </div>
</div>

<div class="modal-dialog"></div>

<div id="modDialog" class="modal fade"></div>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            updateEmployeesTable();

            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');

            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#modDialog').html(data);
                    $('#modDialog').modal('show');
                });
            });


            $(".container").on("click", "#createSubmit", function (e) {   
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("CreateEmployee", "Department")",
                    data: $('#createForm').serialize(),
                    type: "POST",
                    dataType: "text",
                    async: false,  
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateEmployeesTable();
                        } else {
                            $("#modDialog").html(data);
                        }
                    }
                });
            });


            $(".container").on("click", "#editSubmit", function (e) {   
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("EditEmployee", "Department")",
                    data: $('#editForm').serialize(),
                    type: "POST",
                    dataType: "text",
                    async: false,
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateEmployeesTable();
                        } else {
                            $("#modDialog").html(data);
                        }
                    }
                });
            });


            $(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteEmployee", "Department")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateEmployeesTable();
                        }
                    }
                });
            });


            function updateEmployeesTable() {
                $.ajax({
                    url: "@Url.Action("EmployeesTable", "Department")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#employeesTable").html(data);
                    }
                });
            };

        });
    </script>
}